
.course-section {
    margin-left: 300px;
    max-width: 60%;
    max-height: 50%;

}

.course-section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #000000;
}

.course-list {
    list-style: none;
    padding: 0;
}

.course-item {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.course-item h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #000000;
}

.course-item .progress-bar-container {
    margin: 10px 0;
}

.progress-bar {
    height: 10px;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar .progress {
    height: 100%;
    width: 70%; /* Example progress, update dynamically */
    background-color: #3498db;
}

.continue-button {
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.9em;
    transition: background-color 0.3s;
  }
  
  .continue-button:hover {
    background-color: #2980b9;
  }