<<<<<<< HEAD
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #0051ff;
  }
=======
body-login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}
>>>>>>> e29bb4e472a6f8defc60fd6ea175142dc4babd8f
