.stat-dashboard {
    max-width: 80%;
    max-height: 30%;
    margin: 50px 100px;
    margin-left: 250px;
    align-self: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
}


.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stat-card {
    width: 45%;
    height: 60%;
    padding: 20px 10px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 2px 6px #0000001a;
}

.stat-card h2 {
    font-size: 1.5em;
    color: #555;
}

.stat-card p {
    font-size: 2em;
    font-weight: bold;
    color: #3498db;
    margin: 10px 0;
}